body{
    margin:0px;
    padding: 0px;
}
     /* =================================section 1=================================================== */

#navbar{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 8px;
    border-bottom: 1.5px solid rgb(13, 13, 54);
    background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg');
}

#navbar li a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    color: blue;
    
}

#navbar li a img{
    width: 100px;
    margin-right: 200px;
}

#download{
    margin-left: 200px;
    background-color: rgb(12, 12, 51);
    padding-top: 8px;
}

#download a{
    color: white;
}

       /* ================================end section 1==================================================== */

       /* =====================================section 2================================================== */
.hero{
    display: flex;
    justify-content: center;
}

.hero div img{
    width: 550px;
}

.hero1{
    font-size: 40px;
}

.hero2{
    font-size: 60px;
}

.hero3{
    font-size: 30px;
}

.hero4 span{
    background-color: white;
    border:2px solid blue;
    color: blue;
    padding: 10px 25px 10px 25px;
}

.herodiv1{
    margin-top: 130px;
}

.hero{
    padding-top: 100px;
    background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg');
}
      /* =================================end section 2============================================ */

      /* ===================================section 3============================================== */

.skills{
         background-color: rgb(41, 41, 124);
         padding:40px;
}      

#firsttd{
         color:white;
         font-size: 20px;
         font-weight: 700;
         padding-left: 300px;
        }
        /* ===================================end section 3=============================================== */

        /* =======================================section 4========================================== */

.dedication{
            display: flex;
            justify-content: center;
            padding: 40px;
 }

 .dedication div img{
                     width: 50px;
}

.dedication div span{
                     font-size: 30px;
                     font-weight: 700;
}

.div1{
    padding: 40px;
}
/* ===========================================end section 4============================================== */

/* ==========================================section 5================================================== */

.section5{
             margin-left: 240px;
}

.sec5a{
        color: red;
        margin-bottom: 10px;
}

.sec5b{
         color: rgb(20, 20, 77);
         font-size: 45px;
}

.sec5c{
        color: rgb(71, 71, 129);
        font-size: 18px;
        margin-top: 20px;