body{
    margin:0px;
    padding: 0px;
}
     /* =================================section 1=================================================== */

#navbar{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 8px;
    border-bottom: 1.5px solid rgb(13, 13, 54);
    background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg');
    position: sticky;
    top: 0px;
}

#navbar li a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    color: blue;
    
}

#navbar li a img{
    width: 100px;
    margin-right: 200px;
}

#download{
    margin-left: 200px;
    background-color: rgb(12, 12, 51);
    padding-top: 8px;
}

#download a{
    color: white;
}

       /* ================================end section 1==================================================== */

       /* =====================================section 2================================================== */
.hero{
    display: flex;
    justify-content: center;
}

.hero div img{
    width: 550px;
}

.hero1{
    font-size: 40px;
}

.hero2{
    font-size: 60px;
}

.hero3{
    font-size: 30px;
}

.hero4 span{
    background-color: white;
    border:2px solid blue;
    color: blue;
    padding: 10px 25px 10px 25px;
}

.herodiv1{
    margin-top: 130px;
}

.hero{
    padding-top: 100px;
    background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg');
}
      /* =================================end section 2============================================ */

      /* ===================================section 3============================================== */

.section3{
background-color: rgb(15, 15, 51);
}

.section3 .sec3div1{
color: white;
font-size: 23px;
text-align: center;
padding-top: 50px;
}

 #sec3innerdiv{
display: flex;
padding-top: 50px;
padding-bottom: 80px;
}

 #sec3innerdiv img{
width: 12.5%;
}



        /* ===================================end section 3=============================================== */

        /* =======================================section 4========================================== */

.dedication{
            display: flex;
            justify-content: center;
            padding: 40px;
 }

 .dedication div img{
                     width: 50px;
}

.dedication div span{
                     font-size: 30px;
                     font-weight: 700;
}

.div1{
    padding: 40px;
    border-left: 2px solid gray;
}
/* ===========================================end section 4============================================== */

/* ==========================================section 5================================================== */

.section5{
             margin-left: 240px;
             display: flex;
}

.sec5a{
        color: red;
        margin-bottom: 10px;
}

.sec5b{
         color: rgb(20, 20, 77);
         font-size: 45px;
}

.sec5c{
        color: rgb(71, 71, 129);
        font-size: 18px;
        margin-top: 20p;
}

.Decoration tr td{
                   border: 3px solid rgb(14, 14, 49);
                   padding: 10px;
                   margin: auto;
}

.Decoration tr{
                background-color: white;
                margin: auto;
                
}
/* ============================================end section 5=============================================== */
/* ======================================= section 6 ================================================ */

.section6 ul{
            display: flex;
            
            
}

.section6 ul li{
                  margin: 40px;
                  margin-top: 80px;
                  list-style-type: none;
                }

/* ============================== end section 6 =================================================== */
/* =============================== section 7 ================================================= */

.section7{
display: flex;
justify-content: center;
background-image: url('https://itemsstore.net/html/trito/img/about/background.jpg');
border-top: 1px solid black;
border-bottom: 1px solid black;
padding-top: 85px;
padding-bottom: 85px;
}

.section7 sec7div1{
margin: 50px;
padding-left: 100px;
}

.section7 sec7div2{
margin: 50px;
padding: 100px 150px 50px 50px;

}

.about1{
display: flex;
border: 2px solid rgb(32, 48, 119);
width: 275px;
position: absolute;
top: 2350px;
left: 180px;
background-color: white;
}

.about1 .ad1{
color: orangered;
font-size: 60px;
margin: 5px;
padding: 10px;
}

.about1 .ad2{
color: rgb(68, 68, 146);
font-size: 25px;
padding: 23px;
margin-right: 20px;
}

.sec7div2 span{
               padding: 20px 40px 20px 40px;
               background-color: rgb(19, 19, 88); 
               color: white; 
               font-size: 17px; 
}
/* ====================================== end section 7 ================================================ */

/* ================================= section 8 ====================================================== */

.section8{
display: flex;
justify-content: center;
padding-top: 100px;
padding-bottom: 100px;
}

.section8 .sec8div2{
    margin-top: 43px;
    margin-left: 80px;
}
/* ================================= end section 8 ============================================= */

/* ======================================section 9========================================== */

.section9{
display: flex;
justify-content: center;
}

.section9 div{
width: 50%;
border: 2px solid rgb(22, 22, 61);
margin: 10px;
overflow: hidden;
}

.section9 div img{
width: 100%;
height: 100%;
}

.section9 div img:hover{
scale: 1.3;
transition: scale 1s;
}

/* /==========================================end section 9================================================ */

/* ============================================ section 10 ================================================ */

.section10{
display: flex;
justify-content: center;
}

.section10 div{
width: 33%;
border: 2px solid rgb(20, 20, 75);
margin: 10px;
overflow: hidden;
}

.section10 div img{
width: 100%;
height: 100%;
}

.section10 div img:hover{
scale: 1.3;
transition: scale 1s;
}
/* ===================================== end section 10 =================================================== */

/* ======================================= section 11 ================================================= */

.section11{
margin-top: 100px;
margin-bottom: 70px;
}
.section11 .sec11div1{
color: red;
margin-left: 45%;
}

.section11 .sec11div2{
 color: rgb(6, 6, 71);
 font-size: 55px;
 margin-left: 33%;
}

.section11 .sec11div3{
    color: rgb(6, 6, 71);
    font-size: 55px;
    margin-left: 36%;
}
/* ===================================== end section 11 ================================================= */
/* ======================================== section 12 =============================================== */

#label1 div{
width: 75%;
color: white;
padding: 20px;
font-size: 30px;
margin: auto;
}

#label2 div{
    width: 75%;
    color: white;
    padding: 20px;
    font-size: 30px;
    margin: auto;
    }
 
    
    #label3 div{
        width: 75%;
        color: white;
        padding: 20px;
        font-size: 30px;
        margin: auto;
        }

        #label4 div{
            width: 75%;
            color: white;
            padding: 20px;
            font-size: 30px;
            margin: auto;
            }

            #label5 div{
                width: 75%;
                color: white;
                padding: 20px;
                font-size: 30px;
                margin: auto;
                }
                            
#open{
width: 75%;
color: white;
padding: 20px;
font-size: 20px;
margin: auto;
margin-top: -100px;
z-index: -5;
position: relative;
}

#faq:checked~#open{
margin-top: 20px;
position: relative;
transition: margin-top 1s;
}
    
#open1{
    width: 75%;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin: auto;
    margin-top: -100px;
    z-index: -5;
    position: relative;
    }
    
    #faq1:checked~#open1{
    margin-top: 20px;
    position: relative;
    transition: margin-top 1s;
    }

    #open2{
        width: 75%;
        color: white;
        padding: 20px;
        font-size: 20px;
        margin: auto;
        margin-top: -100px;
        z-index: -5;
        position: relative;
        }
        
        #faq2:checked~#open2{
        margin-top: 20px;
        position: relative;
        transition: margin-top 1s;
        }

        #open3{
            width: 75%;
            color: white;
            padding: 20px;
            font-size: 20px;
            margin: auto;
            margin-top: -100px;
            z-index: -5;
            position: relative;
            }
            
            #faq3:checked~#open3{
            margin-top: 20px;
            position: relative;
            transition: margin-top 1s;
            }

            #open4{
                width: 75%;
                color: white;
                padding: 20px;
                font-size: 20px;
                margin: auto;
                margin-top: -100px;
                z-index: -5;
                position: relative;
                }
                
                #faq4:checked~#open4{
                margin-top: 20px;
                position: relative;
                transition: margin-top 1s;
                }
/* ======================================== end section 12 ============================================ */
/* ======================================= section 13 ================================================== */
.section13{
background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg');
padding-top: 50px;
padding-bottom: 120px;
}
.section13 div{
font-size: 50px;
color:rgb(10, 10, 73);
margin-left: 500px;
margin-top: 50px;
}

.section13 span{
border: 2px solid rgb(5, 5, 75);
color: rgb(23, 62, 119);
padding: 9px 30px 9px 30px;
margin-left: 570px;
background-color: white;
font-size: 18px;
}

.section13 span:hover{
background-color: rgb(6, 6, 73);
color:white;
}
/* ========================================= end section 13 ============================================= */
/* ======================================== section 14 ============================================= */

.section14{
margin-top: 120px;
margin-left: 135px;
margin-bottom: 40px;
}

.section14b{
display: flex;
justify-content: center;
}

.section14b div{
width: 25%;
border: 1px solid rgb(13, 13, 56);
margin: 25px;
overflow: hidden;
border-radius: 160px;
}

.section14b div img{
width: 100%;
height: 100%;
}

.section14b div img:hover{
scale: 1.2;
transition: 1s;
}

.section14c{
display: flex;
justify-content: center;
}

.section14c div{
margin: 0px 50px 0px 50px;
font-size: 23px;
color: rgb(10, 10, 65);
}

.section14d{
display: flex;
margin-bottom: 100px;
}

.section14d div{
color: rgb(53, 53, 160);
}
/* ============================================ end section 14 ========================================= */

/* ========================================= section 15 ============================================ */

.section15{
background-image: url('https://itemsstore.net/html/trito/img/contact/background.jpg');
padding-left: 130px;
display: flex;
padding-bottom: 100px;
}

.section15 .sec15a{
font-size: 30px;
color: white;
}

.section15 .sec15b{
color: rgb(148, 134, 179);
font-size: 19px;
}

.section15 .sec15divb{
width: 500px;
background-color: white;
height: 580px;
margin-top: 100px;
margin-left: 20px;
}

.section15 .sec15divb form input{
width: 300px;
padding: 15px 20px 15px 40px;
font-size: 18px;
border: 2px solid rgb(7, 7, 63);
}

.section15 .sec15divb form{
margin-left: 70px;
}

#submit{
background-color: aqua;
width: 365px;
padding-top: 8px;
padding-bottom: 8px;
color: rgb(26, 26, 58);
}

::placeholder{
color: rgb(36, 36, 66);
}

#submit:hover{
background-color: rgb(14, 14, 58);
color: white;
}
/* ========================================== end section 15 ============================================ */